/* 기본 셋팅 */
body{font-family: 'Pretendard'; background-color: #070707; color: white;}
img{width: 100%;}

/* 컨텐츠 사이즈 */
.contentSize{max-width: var(--maxWidth); width: calc(100% - var(--spacing) * 2); margin-inline: auto;}


/* 체크 박스 */
input[type="checkbox"] + label{font-weight: 900; display: flex; align-items: center; cursor: pointer;}
input[type="checkbox"] + label::before{content: ''; width: 20px; aspect-ratio: 1; background: url(../images/icon-checkbox.png) no-repeat center / cover; margin-right: 10px;}


/* 해더 */
header{position: fixed; top: 0; left: 0; width: 100%; background-color: #070707;}
header div{display: flex; justify-content: space-between; align-items: center;}
header div > a{font-size: 18px; font-weight: 700; display: flex; align-items: center;}
header div > a::before{content: ''; width: 20px; aspect-ratio: 1; background: url(../images/icon-call.png) no-repeat center / cover; margin-right: 8px;}

/* 푸터 */
footer address{display: flex; flex-wrap: wrap; color: rgba(255, 255, 255, 0.6);}
footer address strong{width: 100%; font-size: 18px; font-weight: 700; margin-bottom: 20px;}
footer address :is(dl, p){line-height: 18px;}
footer address dl{display: flex; align-items: center;}
footer address dl:last-of-type{width: 100%;}
footer address p{display: flex; align-items: center;}
footer address p::before,
footer address p::after{content: ''; width: 1px; height: 1em; background-color: rgba(255, 255, 255, 0.6); margin-inline: 0.4em;}
footer > img{width: 80px; margin-left: auto;}
footer > b{font-size: 15px; color: #bbb; margin-left: 5px;}