/* 신청 영역 */
.inputsArea > div > div p:nth-of-type(1){font-size: 26px; margin-bottom: 20px;}
.inputsArea > div > div h2{font-size: 60px; line-height: 76px; margin-bottom: 40px;}
.inputsArea > div > div p:nth-of-type(2){font-size: 22px; line-height: 30px;}
.inputsArea > div fieldset ul{display: flex; flex-wrap: wrap; justify-content: space-between; gap: 35px 40px;}
.inputsArea > div fieldset ul li:not([class]){width: calc((100% - 40px) / 2);}
.inputsArea > div fieldset ul li.fill{width: 100%;}
.inputsArea > div fieldset ul li label{font-size: 16px; margin-bottom: 15px;}
.inputsArea > div fieldset ul li div :is(input, .selectBox > button){height: 60px; padding-inline: 20px;}
.inputsArea > div fieldset ul li div .selectBox div button{padding-inline: 20px;}
.inputsArea > div fieldset input[type="checkbox"] + label{margin-top: 35px;}
.inputsArea > div fieldset input[type="submit"]{font-size: 22px; width: 360px; height: 70px;}
.inputsArea > div fieldset > p{font-size: 15px;}
.inputsArea > div fieldset > a{font-size: 13px;}
@media screen and (1750px <= width){
    .inputsArea{height: 100vh;}
    .inputsArea > div{display: flex; justify-content: space-between; align-items: flex-start;}
    .inputsArea > div fieldset{max-width: 1052px;}
}

@media screen and (width < 1750px){
    .inputsArea{padding-block: 260px 148px;}
    .inputsArea > div > div{margin-bottom: 100px;}
}


/* 전화번호 영역 */
.callArea{padding-block: 165px; margin-top: 160px;}
.callArea :is(strong, a){font-size: 50px; line-height: 70px;}
.callArea p{font-size: 22px; line-height: 30px; margin-top: 40px;}