/* 해더 */
header div{height: 80px;}
header div h1{width: 200px;}

/* 푸터 */
footer{display: flex; justify-content: space-between; align-items: flex-end; padding-block: 76px 77px;}
footer address :is(dl, p){font-size: 15px;}
